.item-container{
    margin-top:50px;
    width:25%;
    text-align:center;
    margin-left: 40%;
}
.item-detail{
    background-color: rgb(232, 206, 60); ;
    margin-top: 50px;
    text-align: center;
    width: 25%;
    color: black;
}



.detailContainer{
    background-color:black;
    color:white;
}